#earthImage {
  position:relative;
}

.list {
  color: white;
  position: absolute;
}

.asteroidOuter {
  height: 100px;
  width: 100px;
}

.asteroid {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
}

.asteroid.selected {
  background: red;
  width: 20px;
  height: 20px;
}

@keyframes circle {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}