@import "_bower";
@import "_planet";

body {
  margin: 0;
}

.navbar { 
  margin: 0;
}

.nav {
  font-size: 16px;
}

img {
  width: 50px;
  height: 70px;
  padding-bottom: 40px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
}

#earthImage {
  width: 100px;
  height: 100px;
  position: absolute;
  background: url(http://www.noirextreme.com/digital/Earth-Color4096.jpg);
  border-radius: 50%;
  background-size: 200px;
  box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0), inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

@keyframes rotate {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 420px;
  }
}
/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: black; 
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
@keyframes rotate {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 210px;
  }
}