#earthImage {
  position:relative;
}

.ul-list {
  float: left;
  width: 160px;
  height: 580px;
  font-size: 10px;
  border: 2px solid white;
  margin: 20px 20px 20px 20px;
  padding: 8px;
}

.infobox {
  color: red;
  margin: 1px solid red;
  float: right;
  size: 10px;
  width: 220px;
  height: 100px;
  margin: 10 10 10 10;
}

.list {
  color: white;
  position: absolute;
}

.asteroid-info {
  display: inline-block;
}
.asteroid-info:hover {
  cursor: pointer;
  color: #6699ff;


}
.asteroidOuter {
  height: 100px;
  width: 100px;
}

.asteroid {
  // width: 10px;
  // height: 10px;
  // background: white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  background-image: url("../src/images/asteroid-surface.jpg");
  background-size: cover;
  box-shadow: inset -10px -10px 15px rgba(0,0,0,1);

  // border-radius: 50%;
  
}

.asteroid.selected {
  background: red;
  // width: 20px;
  // height: 20px;
}

@keyframes circle {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}